* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Kumbh Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    background: #131313;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* FIXED ERROR */
.fa-gen {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: 0.3s ease;
}

/* MOBILE NAV */
@media screen and (max-width:960px) {
    .navbar__container {
        height: 80px;
        padding: 0;
        max-width: 100%;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        z-index: 99;
        font-size: 1.6rem;
        height: 50vh;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: #fff;
        transition: 0.3s ease-in-out;
        display: block;
        cursor: pointer;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        padding: 2rem;
        width: 100%;
        display: table;
        text-align: center;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .button {
        width: 80%;
        height: 80px;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* HERO SECTION */
.main {
    background: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    height: 90vh; /* FIXED ERROR */
    background-color: #141414;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__container h1 {
    font-size: 4rem;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__container h2 {
    font-size: 4rem;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__container p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: 0.35s;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: 0.3s;
    border-radius: 4px;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container img {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}


/* RESPONSIVE HERO */
@media screen and (max-width:760px) {
    .main__container {
        grid-template-columns: auto;
        height: 90vh;
        text-align: center;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__container p {
        font-size: 1.5rem;
    }
    .main__img--container img {
        width: 80%;
        height: auto;
        max-width: 450px;
    }
}


@media screen and (max-width:480px) {
    .main__img--container img {
    width: 55%;
    max-width: 220px;
    height: auto;
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__container p {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
.spacing{
    background: #141414;
}/*did it myself to space between proud of what i learned*/
/*Fired Rice Section*/
.services{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.services h1 { 
    background-color: #ff8177;
    background-image: linear-gradient(to right,#ff8177 0%,
    #ff867a 0%,#ff8c7f 21%,#f99185 78%,#b12a5b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.services__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%,rgba(17,17,17,0.6) 100%), 
    url(/images/pic2.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
}
.services__card:nth-child(2){
    background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%,rgba(17,17,17,0.6) 100%), 
    url(/images/pic3.jpg);
}
.services h2{
    position: absolute;
    top: 350px;
    left: 30px;
}
.services__card p{
    position: absolute;
    top: 400px;
    left: 30px;
}
.services__card button{
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer
}
.services__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in
}